---

layout: default
canvas_link: "https://rutgers.instructure.com/courses/112997"

---

<div class="row well"> 
<div class="col-md-6"> <!-- left -->
    Welcome to the homepage for Algebraic Geometry II (Rutgers MATH 536)!
    <br />
    <br />
    <p>This course is designed to be a second course in Algebraic Geometry and
    a first/second course in schemes. The primary material covered will be some
    combination/subset of Hartshorne Chapters 1 and 2, with possible additional
    topics depending on time and interest.</p>
    <br />
    <p>Here are a few resources available for this course:</p>
    
<ul>
<li><a target="_blank" href="{{ page.canvas_link }}">Rutgers Course Canvas Page</a></li>
<li>Lecture Notes will be available on this page (link above)</li>
<li>As a connected (optional) social space, you can use the Torsor Lounge
Discord server. You can find an invitation link on Canvas, or email me for one
if you are not officially registered.</li>
<li>Another resource available is our Zulip server, where you can discuss
homework problems, questions which come up, and other things. As with the discord server, you can get an
invitation link on Canvas, or via email.</li>
</ul>

    {% include news.html %}
</div> <!-- /left-->

<div class="col-md-5 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->
    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
</div> 
</div>
