<a title="Tcc astronaut, CC BY-SA 3.0
&lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons"
href="https://commons.wikimedia.org/wiki/File:Rational_points_of_bounded_height_outside_the_27_lines_on_Clebsch%27s_diagonal_cubic_surface.png"><img
width="256" height="256" alt="Rational points of bounded height outside the 27 lines on
Clebsch&#039;s diagonal cubic surface"
src="https://upload.wikimedia.org/wikipedia/commons/1/18/Rational_points_of_bounded_height_outside_the_27_lines_on_Clebsch%27s_diagonal_cubic_surface.png"></a>
